

<% if @results.is_a? Omdb::Api::Collection %>
  <div id="showResults">
    <table>
      <% @results.each do |movie| %>
      <tr>
         <td><%= movie.title %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% else %>
<% end %>
