<p style="color: green"><%= notice %></p>

<div class="inline">
  <h1>Movies</h1>
  <%= link_to "Add movie", search_path, class: "btn btn-primary theme-color nostretch" %>
</div>

<div id="movies">
  <% @movies.each do |movie| %>
    <div class="card-header">
      <h5><%= link_to "#{movie.title}", movie %></h5>
    </div>
    <%= render movie %>
    <br>
  <% end %>
</div>
