<h1>Add new movie</h1>
<br>
<<<<<<< Updated upstream
<%= image_tag("", height: '128', :id => "show_poster") %><br>
<%= render "form", movie: @movie %>
=======
<%= render "form", movie: @movie %>
>>>>>>> Stashed changes
