<% if !@result.nil? %>

  <% if @result["Response"] == "False" %>
    <% controller.redirect_to omdb_movies_path, alert: "No results found for #{params[:query]}."%>
  <% else %>
    <% @result['Search'].each do |r| %>

      <div class="card-header">
        <img width="200" height="200" src="<%= r["Poster"] %>"/>
        <h5><%= r["Title"] %></h5>

        <%= button_to("Add",
          {action: "create", controller: "omdb_import", imdb_id: r["imdbID"]},
          {method: "post", class: "btn btn-primary theme-color"})
        %>
      </div>

      <br>    

    <% end %>
  <% end %>
<% end %>